<table class="events-display">
  <thead class="events-header">
    <tr>
      <td data-column-name="date">Date</td>
      <td data-column-name="name">Name</td>
      <td data-column-name="event_type">Type</td>
    </tr>
  </thead>
  <tbody id="event-list-form"></tbody>
  <tbody id="events-body"></tbody>
</table>
