<header class='event-header'>
  <h3><%= vent.section.escape('title') %></h3>
  
  <h4 class="event-name"><%= vent.name %></h4>
  <p><%= moment(vent.date).format('MMM-DD') %></p>
  <p><%= vent.get('type') %></p>

</header>
<section class='forum'></section>
