
<form id="create-comment" action="<%= post_comments_url(comment.post_id) %>" method="post">
  <%= auth_token %>
  <input  type="hidden"
          name="comment[parent_id]"
          value="<%= comment.id  %>">

  <input  type="hidden"
          name="comment[post_id]"
          value="<%= comment.post_id %>">

  <label for="comment_body"></label>
  <textarea id="comment_body" name="comment[body]" rows="2" cols="40"></textarea>

  <button name="submit">Submit</button>
</form>
