<div class="button-container" id="search-sections">
  <button class="search-sections" name="search-sections">Search for a course!</button>
</div>

<div class="button-container" id="create-section">
  <button class="create-section" name="create-section">Create a new course!</button>
</div>
