<div class="button-container" id="search-sections">
  <a href="#sections">Search for a course!</a>
</div>

<div class="button-container" id="create-section">
  <a href="#">Create a new course!</a>
</div>
