<header class="header">
  <h1><a href="#">Whiteboard</a></h1>
  <% console.log(arguments) %>
  <p class="welcome-message">Welcome, <%= name %></p>
</header>

<nav class="nav">
  <ul class="nav-links">
    <li><a href="#profile">Profile</a></li>
    <li><a href="#sections">Courses</a></li>
    <li><a href="#calendar">Calendar</a></li>
    <li><a href="#tasks">To-dos</a></li>
  </ul>
</nav>

<button class="sign-out" name="sign-out">Sign Out</button>
