<div class="modal-topbar tabbed">
  <h1 class="modal-title">Whiteboard</h1>
  <ul class="nav nav-tabs modal-tabs">
    <li class="modal-tab"><a href="#" id="signin">Sign in</a></li>
    <li class="modal-tab"><a href="#" id="register">Register</a></li>
  </ul>
</div>
<div class="modal-views"></div>
<div class="modal-bottombar">
  <button name="submit" type="button" class="btn btn-default btn-primary btn-block btn-lg modal-submit">Submit</button>
</div>
