<div class="bbm-modal__topbar">
  <h1 class="bbm-modal__title">Whiteboard</h1>
  <ul>
    <li class="bbm-modal__tab"><a href="#" id="signin" class="active">Sign in</a></li>
    <li class="bbm-modal__tab"><a href="#" id="register">Register</a></li>
  </ul>
</div>
<div class="container"></div>
<div class="bbm-modal__bottombar">
  <button name="submit" class="bbm-button">Submit</button>
</div>
