<div class="bbm-modal__topbar">
  <h1>Whiteboard</h1>
</div>
<div class="bbm-modal__section">
  <form class="create-form session-create">
    <h3>Register an account</h3>
    or <a href="#">Sign in</a>

    <label for="user_email">Username</label>
    <input type="email" id="user_email" name="user[email]" value="" placeholder="e-mail address">

    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]" value="" placeholder="Password">

    <label for="user_password_verify">Verify Password</label>
    <input type="password" id="user_password_verify" name="user[password_verify]" value="" placeholder="Verify password">
  </form>
</div>
<div class="bbm-modal__bottombar">
  <button name="submit">Register</button>
</div>
