<div class="modal-section">
  <form class="create-form">
    <div class="form-group">
      <label for="user_email">Email address</label>
      <input type="email" class="form-control focus1" id="user_email" name="user[email]" value="" placeholder="email address">
    </div>

    <div class="form-group">
      <label for="user_password">Password</label>
      <input type="password" class="form-control" id="user_password" name="user[password]" value="" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="user_password_verify">Verify Password</label>
      <input type="password" class="form-control" id="user_password_verify" name="user[password_verify]" value="" placeholder="Verify password">
    </div>
  </form>
</div>
