<h4>Your Profile</h4>
<label for="">Display Name</label>
<p class="editable"><%= userName %></p>
<label for="">First Name</label>
<p class="editable"><%= firstName %></p>
<label for="">Last Name</label>
<p class="editable"><%= lastName %></p>
<label for="">Email address</label>
<p><%= emailAddress %></p>
