<p class="author"><%= commentAuthor %></p>
<p><%= commentBody %></p>
<p><small><%= timeAgo %> <a href="#" class="show-reply">reply</a></small></p>
<form id="new_comment_<%= id %>" class="hidden clearfix comment-form">
  <label for="comment_body" class="sr-only">New reply</label>
  <textarea
    id="comment_body"
    name="comment[body]"
    class="form-control"
    rows="4"
  ></textarea>
  <div class="button-container"><button type="button" name="submit" class="btn btn-sm btn-success new-comment">Submit</button>
  <button type="button" name="cancel" class="btn btn-sm btn-default hide-reply">Cancel</button></div>
</form>
<div class="children"></div>
