<p><%= commentBody %></p>
<p>posted: <%= timeAgo %> <a href="#" class="show_reply">Reply</a></p>
<form id="new_comment_<%= id %>" class="new_comment hidden">
  <label for="comment_body">New reply</label>
    <textarea
      id="comment_body"
      name="comment[body]"
      rows="8"
      cols="40"
    ></textarea>
  <button name="submit">Submit</button>
</form>
<div class="children"></div>
