<section class="section-buttons clearfix">
  <div class="button-container" id="search-sections">
    <button name="search-sections">Search for a course!</button>
  </div>

  <div class="button-container" id="create-section">
    <button name="create-section">Create a new course!</button>
  </div>
</section>
<section id="all-classes"></section>
