<div class="bbm-modal__topbar">
  <h1 class="bbm-modal__title"><%= this.sectionName %></h1>
</div>
<div class="bbm-modal__section">
  <form class="create-form">
    <h3>New Post</h3>
    <label for="post_topic">Topic</label>
    <input class="modal-input" type="text" id="post_topic" name="post[topic]" value="">

    <label for="post_body">Body</label>
    <textarea id="post_body"
              class="modal-input"
              name="post[body]"
              rows="8"
              cols="40"
    ></textarea>
  </form>
</div>
<div class="bbm-modal__bottombar">
  <button name="submit" class="bbm-button">Post</button>
</div>
