<table class="posts-display">
  <thead class="posts-header">
    <tr>
      <td>Topic</td>
      <td>Name</td>
      <td>Posted</td>
    </tr>
  </thead>
  <tbody class="posts-body"></tbody>
</table>
