<% teaches = current_user.teaches?(@section) %>
<% enrolled = current_user.enrolled_in?(@section) %>

<header class="course-section">
  <h2><%= @section.title %></h2>
  <p class="description"><%= @section.description %></p>
</header>

<% if teaches || enrolled %>
  <%= render 'sections/edit_button' if teaches %>

  <%= render partial: 'events/syllabus', locals: { events: @section.events, section: @section } %>
<% end %>
