<header class="course-section">
  <h2><%= @section.title %></h2>
  <p class="description"><%= @section.description %></p>
</header>

<%= render 'sections/edit_button' if current_user.teaches?(@section) %>

<% current_user.enrolled_in?(@section) ? true : false  %>
