<table class="syllabus">
  <thead>
    <td>Name</td>
    <td>Date</td>
    <td>Type</td>
    <td></td>
  </thead>
  <tbody>
  <% events.each do |event| %>
    <tr>
      <td>
        <%= event.name %>
      </td>
      <td>
        <%= event.date %>
      </td>
      <td>
        <%= event.event_type %>
      </td>
      <td></td>
    </tr>
  <% end %>
    <%= render partial: 'events/form_row', locals: { section: section } %>
  </tbody>
</table>
