<h2>New event</h2>
<p class="description">
  An <strong>event</strong> is a class session, assignment, reading, test, quiz... anything that students will do!
</p>

<%= render 'events/form', event: @event %>
