<div class="bbm-modal__topbar">
  <h1 class="bbm-modal__title">Create Class</h1>
</div>
<div class="bbm-modal__section">
  <form class="create-form">
    <h3>New Course</h3>
    <label for="section_title">Title</label>
    <input class="modal-input" type="text" id="section_title" name="section[title]" value="">

    <label for="section_description">Description</label>
    <textarea id="section_description"
              class="modal-input"
              name="section[description]"
              rows="8"
              cols="40">
    </textarea>
  </form>
</div>
<div class="bbm-modal__bottombar">
  <button name="submit" class="bbm-button">Create</button>
</div>
