<div class="modal-topbar">
  <h1 class="modal-title">Create Class</h1>
</div>
<div class="modal-section">
  <form class="create-form">
    <div class="form-group">
      <label for="section_title">Title</label>
      <input class="form-control" type="text" id="section_title" name="section[title]" value="">
    </div>

    <div class="form-group">
      <label for="section_description">Description</label>
      <textarea id="section_description"
                class="form-control vertical-resize"
                name="section[description]"
                rows="3"
      ></textarea>
    </div>

  </form>
</div>
<div class="modal-bottombar">
  <button name="submit" type="button" class="btn btn-default btn-primary modal-submit">Create</button>
</div>
