<div class="modal-backdrop"></div>
<div class="modal-container">
  <div class="modal-form">

    <h3>New Course</h3>
    <form>
      <label for="section_title">Title</label>
      <input class="modal-input" type="text" id="section_title" name="section[title]" value="">

      <label for="section_description">Description</label>
      <textarea id="section_description"
                class="modal-input"
                name="section[description]"
                rows="8"
                cols="40">
      </textarea>

      <button name="create">Create course</button>
    </form>
  </div>

</div>
