<h2>All courses</h2>
<table id="section-list" class="table table-striped">
  <thead class="sections-header">
    <tr>
      <td> </td>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>

  <tbody id="sections-body"></tbody>
</table>
