<h2>All courses</h2>
<div class="paging"></div>
<table id="section-list">
  <thead class="sections-header">
    <tr>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>

  <tbody id="sections-body"></tbody>
</table>
<div class="paging"></div>
