<h2>All courses</h2>
<input id="section-search" class="searchbox" type="text" name="section_search" value="" placeholder="Search...">
<table>
  <thead class="sections-header">
    <tr>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>

  <tbody id="sections-body"></tbody>
</table>
