<% if (heading) { %>
  <h3><%= heading %></h3>
<% } %>

<table class="sections-display">
  <thead class="sections-header">
    <tr>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody class="sections-body">

  </tbody>
</table>
