<header class='section-header'>
  <h3><%= sectionTitle %></h3>
  <p class='description'><%= sectionDescription %></p>
  <p class='instructor'>Instructor: <a href="#users/<%= instructor.id %>"><%= instructor.get('name') %></a></p>

</header>
<section id='syllabus'></section>
<a href='#' class='post-create'>Write a new post</a>
<section id='forum'></section>
