<header class='section-header'>
  <h3><%= title %></h3>
  <p class='description'><%= description %></p>
  <p class='instructor'>Instructor: <a href="#users/<%= instructor.id %>"><%= instructor.get('name') %></a></p>

</header>
<section id='syllabus'></section>
<section id='forum'></section>
