/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/selectmenu
 *
 */

html, body, section, header, footer, nav, form,
table, thead, tbody, tr, td,
label, input, textarea, button, select,
h1, p, ul, li,
a
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
  vertical-align: inherit;
}

body {
  font-family: sans-serif;
  background: #e6e6e6;
  color: #333;
}

label, input, select {
  display: block;
  background: #fff;
  margin: 10px 0;
  padding: 5px 10px;
}

tr input, tr select {
  display: block;
  margin: auto;
  height: 34px;
  width: 95%;
  box-sizing: border-box;
}

button {
  display: block;
  padding: 5px 10px;
  background: #00f;
  color: #fff;
}

:focus {
  border: 1px solid #0c0;
}

/*input[type=text] {
  background: #fff;
}*/

a {
  color: #060;
  text-decoration: underline;
}

/* "Borrowed" from fb */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.button-container {
  float: left;
}

.section-buttons {
  display: block;
}

.modal-backdrop {
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.modal-container {
  position: fixed;
  width: 0;
  height: 0;
  left: 50%;
  top: 100px;
  z-index: 1002;
}

.modal-form {
  position: relative;
  left: -300px;
  width: 540px;
  background: #e6e6e6;
  padding: 30px;
}

.modal-input {
  border: 0;
  width: 530px;
  margin: 0;
  padding: 5px;
}

.button-container {
  margin: 10px;
}

td {
  min-width: 200px;
}

td a {
  display: block;
  padding: 5px 0;
}

thead td {
  border-bottom: 1px solid #666;
}

tbody td {
  border-top: 1px solid #666;
}
