/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, header, footer, nav, form,
label, input, textarea, h1, p, ul, li, button,
a
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: sans-serif;
  color: inherit;
  text-decoration: none;
}

body {
  background: #e6e6e6;
}

label, input {
  display: block;
  margin: 10px 0;
  padding: 5px 0;
}

button {
  display: block;
  margin: 10px;
  padding: 5px;
}

a {
  color: #060;
  text-decoration: underline;
}

/* "Borrowed" from fb */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.button-container {
  float: left;
}

.section-buttons {
  display: block;
}

.modal-backdrop {
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.modal-form {
  position: absolute;
  left: 50%;
  z-index: 1002;
}

.modal-form div {
  margin: 100px;
  position: relative;
  left: -50%;
  width: 540px;
  background: #e6e6e6;
  padding: 30px;
}

.modal-input {
  border: 0;
  width: 530px;
  margin: 0;
  padding: 5px;
}
