/*
 *
 */

@import "bootstrap";
$lightest-color: #DAC5E3;
$lighter-color: #B592C4;
$primary-color: #9063A4;
$darker-color: #733F89;
$darkest-color: #58236F;

body {
  padding-top: 70px;
  margin-bottom: 50px;
}

a {
  color: $primary-color;
}

/* Modals */
.bbm-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  padding: 50px 10px;
  overflow: auto;
  * {
    box-sizing: border-box;
  }
}

.bbm-wrapper {
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 0.3s;
}

.bbm-modal {
  background: #ddd;
  border-radius: 3px;
  margin: auto;
  width: auto;
  max-width: 500px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.9);
}

.modal-topbar {
  padding: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.modal-bottombar {
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;
}
.modal-title {
  padding: 20px 0 19px;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 1em;
  color: #312D3A;
}
.modal-tab {
  display: inline-block;
  a {
    font-size: 16px;
    font-weight: bold;
    color: #999;

    &:hover, &.active {
      color: #222;
      background: white;
    }
  }
}
.modal-section {
  background: white;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 26px;
  color: #575656;

  p {
    font-size: 16px;
    line-height: 26px;
    color: #575656;
    &:last-child {
      padding: 0;
      margin-bottom: 0;
    }
  }

  a {
    color: #FF643C;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1em;
  }
}

.bbm-modal--open {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}

.bbm-modal--destroy {
  -webkit-animation-duration: 0.43333s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
/*** END MODAL ***/

.navbar {
  background: #4d8;
}

.navbar-brand {
  margin-top: -3px;
  .brand-icon {
    width: 32px;
    height: 32px;
    margin-top: -4px;
    display: inline-block;
  }

  .brand-text {
    color: #e26;
    font-style: italic;
    margin-left: -3px;
  }
}


.vertical-resize {
  @include resizable(vertical);
}

.tabbed {
  border-bottom: 0;
}

.contrast-head {
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: $lightest-color;
  border-bottom: 1px solid $darker-color;
}

.comments {
  padding: 20px;
  background: whitesmoke;
}

.comment-form {
  max-width: 450px;
}

// Overly specific selectors to compensate for braindead bootstrap
// defaults
.nav-tabs {
  a.active {
    &:active, &:hover, &:focus {
      background-color: white;
      border-bottom-color: white;
    }
  }
}

// Comments display

.author {
  color: $primary-color;
  font-weight: bold;
}

.button-container {
  float: right;
  display: block;
  margin: 10px 0;
}

.children {
  padding-left: 20px;
}

.new-comment {
  @include clearfix();
}

// Tables
.button-column {
  min-width: 100px;
  text-align: center;
  & > button {
    display: block;
    margin: auto;
  }
}

.dataTables_filter {
  float: right;
}

.dataTables_paginate {
  float: right;
}

.dataTables_length {
  float: left;
}

.dataTables_info {
  float: left;
}

.paginate_button {
  margin-left: 10px;
}
