/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require backbone.modal
 *= require backbone.modal.theme
 *= require jquery.dataTables
 *
 */

html, body, section, header, footer, nav, form,
table, thead, tbody, tr, td,
label, input, textarea, button, select,
h1, p, ul, li,
a
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
  vertical-align: inherit;
}

body {
  font-family: sans-serif;
  background: #e6e6e6;
  color: #333;
}

label, input, select {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

input, select, textarea {
  background: #fff;
}

table input, table select {
  display: block;
  margin: auto;
  height: 34px;
  width: 95%;
  box-sizing: padding-box;
}

#section-list_wrapper label,
#section-list_wrapper input,
#section-list_wrapper select {
  display: inline;
}

button {
  display: block;
  padding: 5px 10px;
  background: #00f;
  color: #fff;
}

:focus {
  border: 1px solid #0c0;
}

a {
  color: #060;
  text-decoration: underline;
}

/* "Borrowed" from fb */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.button-container {
  float: left;
  margin: 5px;
}

.button-container a {
  text-decoration: none;
  background: #00f;
  color: white;
  display: block;
  padding: 5px 10px;
  border: 1px solid #00f;
}

td {
  min-width: 100px;
}

td a {
  display: block;
  padding: 5px 0;
}

thead td {
  border-bottom: 1px solid #666;
}

tbody td {
  border-top: 1px solid #666;
}



table input, table button, table select {
  margin: 0;
}

a:hover, button:hover, input[type='submit']:hover {
  cursor: pointer;
}

.errors {
  position: absolute;
  left: 50%;
  color: red;
}

.error {
  position: relative;
  left: -50%
}

ul {
  list-style: none;
}

.content {
  padding: 40px 20px 20px 20px;
  margin-left: 220px;
  min-height: 600px;
}

.sidebar {
  position: fixed;
  width: 160px;
  height: 100%;
  padding: 20px;
  background: #05AB3A;
  color: #050;
  font-size: 16px;
}

.header {
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
}

.nav-links li {
  border-top: 1px solid #060;
}

.nav-links a {
  padding: 10px 0;
  display: block;
}

.nav-links a:hover {
  background: black;
}

.create-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.create-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 100px;
}

.hidden {
  display: none;
}
