<nav class="nav sidebar">
  <header class="header">
    <h1><a href="#">Whiteboard</a></h1>
    <p class="welcome-message">Welcome, <%= current_user.name %></p>
  </header>

  <nav class="nav">
    <ul class="nav-links">
      <li><a href="#/profile">Profile</a></li>
      <li><a href="#/sections">Courses</a></li>
      <li><a href="#/calendar">Calendar</a></li>
      <li><a href="#/tasks">To-dos</a></li>
    </ul>
  </nav>

  <form id="sign-out" action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button name="sign-out">Sign Out</button>
  </form>
</nav>
