<% if new_user == true  %>
  <% show_verify = true %>
  <% button_text = "Create!" %>
  <% action = users_url %>
<% else %>
  <% show_verify = false %>
  <% button_text = "Sign In!" %>
  <% action = session_url %>
<% end %>

<%= render 'layouts/errors' %>

<form class="user_create" action="<%= action %>" method="post">
  <%= auth_token %>
  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]" value="">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]" value="">

  <% if show_verify %>
    <label for="user_password_verify">Verify Password</label>
    <input type="password" id="user_password_verify" name="user[password_verify]" value="">
  <% end %>

  <button name="button"><%= button_text %></button>
</form>
