<% if new_user == true  %>
  <% show_verify = true %>
  <% button_text = "Create!" %>
  <% action = users_url %>
<% else %>
  <% show_verify = false %>
  <% button_text = "Sign In!" %>
  <% action = session_url %>
<% end %>

<%= render 'layouts/errors' %>

<form class="user-create" action="<%= action %>" method="post">
  <%= auth_token %>
  <h1>Whiteboard</h1>

  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]" value="" placeholder="e-mail address">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]" value="" placeholder="Password">

  <% if show_verify %>
    <label for="user_password_verify">Verify Password</label>
    <input type="password" id="user_password_verify" name="user[password_verify]" value="" placeholder="Verify password">
  <% end %>

  <button name="button"><%= button_text %></button>
</form>
